nav.navbar {
    padding: 0;
    border-bottom: solid;
    border-width: 1px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-toggler-icon{
    color: #fff;
}

@media (max-width:640px){
    .navbar-dark .navbar-nav .nav-link{
        padding: 1rem 0 0 1rem;
    }
}

@media (max-width:640px){
    .navbar-dark .navbar-toggler {
        margin-right: 1rem;
    }
}

.container-home {
    background: #09092C;
    padding: 1rem 1rem 2rem 1rem;
}

.container-fluid {
    background: #09092C;
}

footer{
    background:#09092C;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.div-footer{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:1rem;
}

.div-footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color:#fff;
}

.socials a i{
   font-size: 1.1rem;
}

.socials a:hover i{
    color:#AD7EE8;
    transition: 0.3s;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.footer-bottom{
    background:#1A1A39;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    opacity: .4;
    font-weight: 200;
}
